<!DOCTYPE html>
<html lang="tr">
    
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    
<body>
    <nav
        class="flex justify-between bg-black px-10 items-center w-full h-[100px] text-white text-3xl border-b-2 border-b-purple-500">
            <a href="/webfinal/index.html" target="_parent" class="font-semibold hover:text-purple-400">Web3 App</a>
        <div class="space-x-10 text-3xl font-semibold text-white">
            <a href="/webfinal/services.html" target="_parent" class="hover:text-purple-400">Servisler</a>
            <a href="/webfinal/document.html" target="_parent" class="hover:text-purple-400">Döküman</a>
            <a href="/webfinal/contact.html" target="_parent" class="hover:text-purple-400">İletişim</a>
        </div>
    </nav>
 </body>
</html>
